/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/* html,bodyタグの設定 */
html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

/* ヘッダーの固定 */
div#header-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
/*    height: 140px;*/
}

div#header-bk { 
    background-color: #2699FB;
    padding:30px 0 20px;
/*    height:68px;*/
    width:100%;
}

div#header { 
/*    border: 1px solid #fff;*/
    text-align: center;
}





/*	EXAMPLE STYLES */
body {
	font-family: sans-serif;
	color: white;
}

/*
header {
	line-height: 15em;
	text-align: center;
	background: #333;
}
*/
main {
    margin-top: 75px;
}

article {
	line-height: 20em;
	text-align: center;
	background: #666;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

footer {
	line-height: 15em;
	text-align: center;
	background: #BBB;
}

 







.nav {
    display: table;
    width: 100%;
    background: #FFF;
    padding: 5px;
    max-width: 350px;
    margin: 75px auto 0;
}
.nav__item {
    display: table-cell;
    position: relative;
    padding: 0 1px 0 0;
}
.nav__item p {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    color: #fff;
}
.nav__item img {
    width: 100%;
    max-width: 50px;
    vertical-align: bottom;
    background-color: #2699FB;
}
